{{page-title "Art"}}

<div class="container mx-auto px-8 py-16 arts-section-wrapper">
  <div class="grid grid-cols-[33%_1fr] gap-24">
    <div class="flex items-center justify-start">
      <img src="{{this.model.artItem.image}}" class="rounded" alt="Image">
    </div>
    <div class="">
      <h1 class="text-2xl font-bold mb-10">{{this.model.artItem.name}}</h1>
      <p class="text-gray-600 mb-10">{{this.model.artItem.description}}</p>
      <div class="flex space-x-20 mb-10">
        <div>
          <p class="text-gray-600 text-nowrap">Current Bid</p>
          <p class="text-md font-semibold">110 USD</p>
        </div>
        <div>
          <p class="text-gray-600 text-nowrap">Start Price</p>
          <p class="text-md font-semibold">{{this.model.artItem.start_price}} USD</p>
        </div>
        <div>
          <p class="text-gray-600">Start Date</p>
          <p class="text-md font-semibold">{{date this.model.artItem.start_date}}</p>
        </div>
        <div>
          <p class="text-gray-600">End Date</p>
          <p class="text-md font-semibold">{{date this.model.artItem.end_date}}</p>
        </div>
      </div>

      <div class="flex space-x-1.5">
        <Button @class="min-w-[45px] max-h-[45px] h-[45px] p-0" @size="small" >
          -
        </Button>
        <Button @class="px-20" @size="small" >
          Bid USD
        </Button>
        <Button @class="min-w-[45px] max-h-[45px] h-[45px] p-0" @size="small">
          +
        </Button>
      </div>
    </div>
  </div>
</div>
