{{page-title "Arts"}}

<div class="container mx-auto px-8 py-12 arts-section-wrapper">
{{!--  <aside class="mt-10">--}}
{{!--    <Accordion @title="Date">--}}
{{!--      <label for="startDate" class="block">From:</label>--}}
{{!--      <input type="date" id="startDate" class="border border-gray-300 p-2 w-full" {{on "input" this.updateStartDate}}>--}}

{{!--      <label for="endDate" class="block mt-2">To:</label>--}}
{{!--      <input type="date" id="endDate" class="border border-gray-300 p-2 w-full" {{on "input" this.updateEndDate}}>--}}

{{!--    </Accordion>--}}

{{!--    <Accordion @title="Price">--}}
{{!--      <label for="price">Select Price Range:</label>--}}
{{!--      <input type="range" id="price" name="price" min="0" max="1000">--}}
{{!--    </Accordion>--}}

{{!--    <Accordion @title="Category">--}}
{{!--      <label for="category">Select Category:</label>--}}
{{!--      <select id="category" name="category">--}}
{{!--        <option value="all">All</option>--}}
{{!--        <option value="art">Art</option>--}}
{{!--        <option value="sculpture">Sculpture</option>--}}
{{!--        <option value="painting">Painting</option>--}}
{{!--      </select>--}}
{{!--    </Accordion>--}}
{{!--  </aside>--}}


  <main class="mb-10">
    <h1 class="text-3xl font-bold mb-10">Arts</h1>


    <div class="arts-section">
      {{#each this.model.items as |art|}}
        <ArtCard @id={{art.id}} @image={{art.image}} @title={{art.name}} @description={{art.description}} @price={{art.start_price}} />
      {{/each}}
      <ArtCard @id='1' @image="feature-bidding.png" @title="Art 1 is yeri beautfiful art whick is reletivly new" @description="This is a beautiful art piece" @price="100 USD" />
      <ArtCard @id='2' @image="feature-buying.png" @title="Art 2" @description="This is a beautiful art piece" @price={{100}} />
      <ArtCard @id='3' @image="feature-selling.png" @title="Art 3" @description="This is a beautiful art piece" @price={{200}} />
      <ArtCard @id='4' @image="feature-bidding.png" @title="Art 4" @description="This is a beautiful art piece" @price={{400}} />
      <ArtCard @id='5' @image="feature-selling.png" @title="Art 5" @description="This is a beautiful art piece" @price={{40}} />
      <ArtCard @id='6' @image="feature-filtering.png" @title="Art 1" @description="This is a beautiful art piece" @price={{100}} />
      <ArtCard @id='7' @image="feature-bidding.png" @title="Art 1" @description="This is a beautiful art piece" @price="100 USD" />
      <ArtCard @id='1' @image="feature-buying.png" @title="Art 1" @description="This is a beautiful art piece" @price="100 USD" />
      <ArtCard @id='1' @image="feature-filtering.png" @title="Art 1" @description="This is a beautiful art piece" @price="100 USD" />
      <ArtCard @id='1' @image="feature-selling.png" @title="Art 1" @description="This is a beautiful art piece" @price="100 USD" />
      <ArtCard @id='1' @image="feature-bidding.png" @title="Art 1" @description="This is a beautiful art piece" @price="100 USD" />
      <ArtCard @id='1' @image="feature-bidding.png" @title="Art 1" @description="This is a beautiful art piece" @price="100 USD" />
    </div>
  </main>
</div>