{{page-title "Arts"}}

<div class="container mx-auto px-8 py-12 arts-section-wrapper">
{{!--  <aside class="mt-10">--}}
{{!--    <Accordion @title="Date">--}}
{{!--      <label for="startDate" class="block">From:</label>--}}
{{!--      <input type="date" id="startDate" class="border border-gray-300 p-2 w-full" {{on "input" this.updateStartDate}}>--}}

{{!--      <label for="endDate" class="block mt-2">To:</label>--}}
{{!--      <input type="date" id="endDate" class="border border-gray-300 p-2 w-full" {{on "input" this.updateEndDate}}>--}}

{{!--    </Accordion>--}}

{{!--    <Accordion @title="Price">--}}
{{!--      <label for="price">Select Price Range:</label>--}}
{{!--      <input type="range" id="price" name="price" min="0" max="1000">--}}
{{!--    </Accordion>--}}

{{!--    <Accordion @title="Category">--}}
{{!--      <label for="category">Select Category:</label>--}}
{{!--      <select id="category" name="category">--}}
{{!--        <option value="all">All</option>--}}
{{!--        <option value="art">Art</option>--}}
{{!--        <option value="sculpture">Sculpture</option>--}}
{{!--        <option value="painting">Painting</option>--}}
{{!--      </select>--}}
{{!--    </Accordion>--}}
{{!--  </aside>--}}


  <main class="mb-10">
    <h1 class="text-3xl font-bold mb-10">Arts</h1>


    <div class="arts-section">
      {{#each this.model.auctions as |auction|}}
        <ArtCard @id={{auction.id}} @images={{auction.items_images}} @title={{auction.name}} @description={{auction.description}} @price={{auction.price}} />
      {{/each}}
    </div>
  </main>
</div>